<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlDiffFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SqlDiffFramework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
    <sources>
      <source name="main" switchName="MainSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AlignedText"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="leftSqlEditor" switchName="LeftSqlEditorSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AlignedText"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="rightSqlEditor" switchName="RightSqlEditorSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AlignedText"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="MultiConnectionStringManager"
             switchName="ConnectionStringManagerSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AlignedText"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ConnectionStringManager"
             switchName="ConnectionStringManagerSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AlignedText"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="OdbcDsnInfo"
             switchName="OdbcDsnInfoSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AlignedText"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="diffCheck"
               switchName="DiffCheckSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="diffListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="c:/Temp/SqlDiffFramework-data.log" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="MainSwitch" value="All" />
      <add name="LeftSqlEditorSwitch" value="All" />
      <add name="RightSqlEditorSwitch" value="All" />
      <add name="ConnectionStringManagerSwitch" value="Off" />
      <add name="OdbcDsnInfoSwitch" value="Off" />
      <add name="DiffCheckSwitch" value="Off"/>
    </switches>
    <sharedListeners>
      <add name="AlignedText"
           type="CleanCode.Diagnostics.AlignedTextWriterTraceListener,CleanCode"
           initializeData="c:/Temp/SqlDiffFramework.log"
               traceOutputOptions="DateTime" />
	  </sharedListeners>
      <!-- TODO: remove if unused
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add name="myListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="c:/Temp/SqlDiffFramework-tmp.log" />
          <remove name="Default" />
        </listeners>
      </trace>
      -->
    </system.diagnostics>
    <connectionStrings />
    <userSettings>
        <SqlDiffFramework.Properties.Settings>
            <setting name="LeftSqlDirectory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="RightSqlDirectory" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TandemButton_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TurboSortButton_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLocalDataButton_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateChecked" serializeAs="String">
                <value />
            </setting>
            <setting name="UnreachableRepository" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="LeftCsvDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="RightCsvDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoHighlightButton_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LeftConnectionName" serializeAs="String">
                <value>--</value>
            </setting>
            <setting name="RightConnectionName" serializeAs="String">
                <value>--</value>
            </setting>
            <setting name="AutoExecuteButton_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxColumnWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShowElapsedTimes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AutoDiffButton_Checked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="UpdateCheckInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxHighlightedRowsPerChunk" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MaxHighlightedRowsTotal" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="ConnectionList" serializeAs="Xml">
                <value>
                    <ArrayOfConnectionDetails xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ConnectionDetails>
                            <ConnectionName>local-master</ConnectionName>
                            <ConnectionString>Data Source=.\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;Persist Security Info=True</ConnectionString>
                            <DbType>SqlServer</DbType>
                            <RememberPassword>false</RememberPassword>
                            <Description>local SSExpress, master DB</Description>
                        </ConnectionDetails>
                        <ConnectionDetails>
                            <ConnectionName>local-AdvWorks</ConnectionName>
                            <ConnectionString>Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=True;Persist Security Info=True</ConnectionString>
                            <DbType>SqlServer</DbType>
                            <RememberPassword>false</RememberPassword>
                            <Description>local SSExpress, AdventureWorks DB</Description>
                        </ConnectionDetails>
                    </ArrayOfConnectionDetails>
                </value>
            </setting>
        </SqlDiffFramework.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SqlDiffFramework.Properties.Settings>
            <setting name="UpdateCatalogFile" serializeAs="String">
                <value>catalog.xml</value>
            </setting>
            <setting name="UpdateRepository" serializeAs="String">
                <value />
            </setting>
        </SqlDiffFramework.Properties.Settings>
    </applicationSettings>
</configuration>
